.text-ash-color {
  color: rgb(126, 126, 126);
  font-weight: 500;
}

.primary-btn {
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 1.2px;
  transition: 0.25s;
  color: #fff;
  background: var(--primary-color-01);
}

.primary-btn:hover {
  transform: scale(0.98);
}

.control-form input {
  padding: 14px 20px;
  border-radius: 0.5rem;
}

.control-form label {
  font-weight: 600;
}

.control-form input:not(.form-submit) {
  background: var(--ash-color-01);
}

.msg {
  background: rgb(230, 38, 38);
  padding: 10px 20px;
  color: #fff;
  font-weight: 600;
}

.bold {
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--primary-color-01);
}

.link, .link:hover {
  color: var(--primary-color-01);
}